.hero-menu {
    width: 100%;
    max-width: 1600px;
    Background-color: #EAE2DA;

    .main-image {
        background-image: url('https://live.staticflickr.com/65535/50394379696_ba946606e5_k.jpg');
        background-size: 85%;
        background-repeat: no-repeat;
        background-position: top;
        height: 100vh;
        z-index: 4;
        background-attachment: fixed;

        .content {
            position: absolute;
            align-content: center;
            justify-content: center;
            color: white;
            position: absolute;
            margin: 35vh 0vw 0vh 10vw;
            padding: 20px;
        
            .title {
              font-weight: 500;
              font-family: 'Quicksand';
              margin-bottom: 0px;
              font-size: 35px;
              color: #4F3C75;

              .emojis {
                font-size: 22px;
                display: inline-block
              }
            }
        
            .subtitle {
              font-family: 'Arima Madurai';
              font-weight: 500;
              font-size: 40px;
              color: #4F3C75;
              padding-right: 5px;
              background-image: linear-gradient(120deg, #E4B16A 0%, #ffd75f 100%);
              background-repeat: no-repeat;
              background-size: 100% 0.3em;
              background-position: 0 68%;
              transition: background-size 0.25s ease-in;
              
              &:hover {
                background-size: 100% 38%;
              }
              
            }
          }
    }

}
// large desktop screens
@media only screen and (max-width: 2200px) {
  .hero-menu {
    background-color:blue;

    .main-image {
      background-size: cover;
    }
  }
}
// desktops
@media only screen and (max-width: 1600px) {
  .hero-menu {
    background-color: green;

    .main-image {
      background-size: cover;
      height: 100vh;
      background-position: 60%;

      .content {
        margin: 35vh 0vw 0vh 5vw;
      
        }

    }
  }
}
// ipads and smaller screens
@media only screen and (max-width: 960px) {
  .hero-menu {
    background-color: green;

    .main-image {
      background-size: cover;
      height: 100vh;

      .content {
        margin: 30vh 40vw 0vh 0vw;
        background-color: rgba(255, 255, 255, 0.712);

        .title {
          font-size: 45px;
          font-weight: 400;
        }

        .subtitle {
          font-size: 30px;
        }
      }
    }
  }
}